p{
  width: 100px;
  background-color: cadetblue;
  border: 30px solid darkkhaki;
  padding: 25px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  border-top: 30px solid darkkhaki;
  border-bottom: 30px solid black;
  border-left: 30px solid black;

}